:root {
  --bg-color: #ffcece;
  --blue-color: rgb(40, 25, 49);
  --dark-blue-color: rgb(34, 19, 68);
  --red-color: rgba(15, 104, 49, 0.63);
  --yellow-color: rgb(255, 252, 88);
  --brown-color: rgb(32, 12, 12);
  --light-brown-color: #3b1212;
  --green-color: rgb(153, 192, 108);
  --white-color: rgb(203, 255, 154);
  --black-color: rgba(10, 10, 10, 0);
  --dark-black-color: rgb(60, 41, 78);
  --light-black-color: rgb(245, 234, 255);
}

