:root {
  --bg-color: #ffcece;
  --blue-color: rgb(40, 25, 49);
  --dark-blue-color: rgb(22, 14, 43);
  --red-color: rgb(65, 39, 39);
  --light-red-color: rgb(224, 3, 3);
  --yellow-color: rgb(255, 252, 88);
  --brown-color: rgb(32, 12, 12);
  --light-brown-color: #3a1919;
  --green-color: rgba(49, 7, 27, 0.959);
  --white-color: rgb(60, 73, 50);
  --black-color: rgba(10, 10, 10, 0);
  --dark-black-color: rgb(43, 29, 56);
  --light-black-color: rgb(245, 234, 255);
}

*,
::after,
::before {
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

html {
    background: linear-gradient(-85deg, var(--dark-blue-color), var(--green-color), var(--white-color), var(--red-color));
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 20px;
    margin-bottom: -130px;
    width: 1100px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light-black-color);
    border-radius: 45px;
    border: 100px solid var(--light-red-color);
}

.input-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--light-brown-color);
    padding: 20px 10px;
    gap: 20px;
    border-radius: 15px;
}

.ring {
    width: 100px;
    height: 100px;
    background-color: var(--bg-color);
    position: relative;
    left: 480px;
    bottom: 130px;
    border-radius: 50px;
    
}
.ring-item {
    width: 100px;
    height: 100px;
    background-color: var(--bg-color);
    position: relative;
    right: 480px;
    bottom: 230px;
    border-radius: 50px;
}

.grid-size {
    flex: 1 1 0;
}

.color-play {
    display: flex;
    justify-content: center;
    flex: 1 1 0;
}

#shadowing,
#rainbow {
    margin-top: 4px;
    width: 25px;
    height: 25px;
}

#textbox {
    width: 253px;
    border-radius: 15px;
    font-weight: 100;
}

#textbox::-webkit-input-placeholder {
    color: rgb(24, 19, 19);
    opacity: 0.2;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

#button-check,
#button-clear {
    border-radius: 15px;
    padding: 3px 10px;
    background-color: #333c3f;
    cursor: pointer;
}

#button-check:hover,
#button-clear:hover {
    background-color: aliceblue;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.number-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#fav-color {
    border-style: hidden;
    background-color: #5f98ac;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 33px;
}