:root {
  --light-pink-color: rgba(255, 152, 152, 0.514);
  --pink-color: rgb(255, 204, 204);
  --dark-green-color: rgb(31, 75, 75);
  --light-green-color: rgba(83, 155, 155, 0.795);
  --black-color: #000000;
  --yellow-color: rgb(190, 58, 10);
  --light-pink-b-color: #ee447d;
  --pink-b-color: #ff3377;
  --light-blue-color: #2d68c7;
  --dark-blue-color: #3882f6;
  --soft-blue-color: #75aaff;
}

h1 {
  font-size: 70px;
  text-align: center;
  margin-bottom: -60px;
}

h3,
h2 {
  text-align: center;
}
h2 {
  margin-bottom: -20px;
}
a {
  text-decoration: none;
}
li {
  margin-bottom: 5px;
}
body {
    background: var(--light-pink-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.calculator {
    height: 70vh;
    max-height: 600px;
    width: 50vw;
    max-width: 400px;
    border: var(--black-color) solid 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--light-green-color);
}

.btn {
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
    transition: all .15s ease;
}

button {
    font-size: 2rem;
    outline: none;
}

#display {
    grid-column: 1 / 5;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--dark-green-color);
    box-shadow: 5px 10px 18px black;

}

#clear {
    background-color: var(--pink-b-color);
    grid-column: span 2;
}

#enter {
    background-color: var(--yellow-color);
    grid-column: span 2;
}

.clicked {
    transform: scale(.9);
    box-shadow: 5px 10px 18px var(--black-color);
    opacity: .9;
}

.btn:hover {
    transform: scale(1.1);
    opacity: .9;
}











footer {
  padding: 40px;
  background-color: var(--dark-green-color);
  text-align: center;
  padding-bottom: 1px;
}

.footer-text {
  color: var(--black-color);
  margin-top: -30px;
  padding-bottom: 0px;
}

.span-name {
  color: var(--pink-b-color);
}

.span-name:hover {
  color: var(--light-blue-color);
  cursor: pointer;
}

.span-name-odin {
  color: var(--soft-blue-color);
}

.span-name-odin:hover {
  color: var(--pink-b-color);
}
