:root {
    --bg-color: #ffcece;
    --blue-color: rgb(40, 25, 49);
    --dark-blue-color: rgb(22, 14, 43);
    --red-color: rgb(204, 3, 3);
    --light-red-color: rgb(241, 66, 66);
    --yellow-color: rgb(73, 75, 70);
    --brown-color: rgb(32, 12, 12);
    --light-brown-color: #3a1919;
    --green-color: rgba(54, 117, 97, 0.856);
    --white-color: rgb(28, 44, 134);
    --black-color: rgba(10, 10, 10, 0);
    --dark-black-color: rgb(43, 29, 56);
    --light-black-color: rgb(252, 248, 255);
    --photo-text-size: 24px;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 900px;
    gap: 30px;
    border: 3px solid var(--brown-color);
    border-radius: 25px;
    padding: 30px;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
}

.photo-container {
    flex: 1 1 0;
    height: 100vh;
    max-width: 50vw;
}

.photo-text-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 101vh;
    background-color: var(--green-color);
    width: 100%;
    height: 15vh;
    transition: 1s;
    cursor: pointer;
}

.photo-text-overlay:hover {
    height: 50vh;
    background-color: var(--blue-color);
    --photo-text-size: 62px;
}

.photo-text {
    font-size: var(--photo-text-size);
    font-family: "Unbounded", cursive;
    line-height: 50px;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.5s;
}


.form-container {
    flex: 1.8 1 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    transition: 0.25s;
}

.form-wrapper {
    height: auto;
    padding: 50px;
    width: auto;
    min-width: 800px;
    border-radius: 50px;
    box-shadow: 10px 10px var(--accent-color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--accent-color-2);
}

.account-details-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.personal-information-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

legend {
    text-align: center;
    color: rgb(177, 159, 129);
}

input,
select {
    max-height: 20px;
    border: 2px solid var(--accent-color-1);
    background-color: white;
    outline: none;
}

.invalid {
    border: 2px solid var(--invalid-color);
}

.valid {
    border: 2px solid var(--valid-color);
}

button {
    border: 3px solid var(--second-color);
    width: 100px;
    height: 45px;
    border-radius: 35px;
    transition: 0.5s;
    background-color: var(--main-color);
    color: var(--accent-color-2);
    font-weight: 600;
    box-shadow: 3px 3px 0px 0px #18978F;
}

button:hover {
    border-radius: 0px;
    border: none;
    width: calc(100% + 100px);
    background-color: var(--accent-color-1);
    color: var(--second-color);
    cursor: pointer;
    box-shadow: none;
}

label,
legend,
button,
.photo-text {
    text-transform: uppercase;
}