:root {
    --bg-color: #ffd5d5;
    --blue-color: rgb(40, 25, 49);
    --dark-blue-color: rgb(22, 14, 43);
    --red-color: rgb(204, 3, 3);
    --light-red-color: rgb(241, 66, 66);
    --light-yellow-color: rgba(217, 226, 93, 0.596);
    --yellow-color: rgb(73, 75, 70);
    --brown-color: rgb(32, 12, 12);
    --light-brown-color: #3a1919;
    --green-color: rgba(54, 117, 97, 0.568);
    --light-blue-color: rgb(28, 44, 134);
    --black-color: rgba(10, 10, 10, 0);
    --dark-black-color: rgb(43, 29, 56);
    --light-black-color: rgb(252, 248, 255);
    --photo-text-size: 24px;
}

body {
    background: linear-gradient(-200deg, var(--green-color), var(--light-yellow-color));

}

body > p {
    position: absolute;
    bottom: 110px;
    right: 500px;
    font-size: large;
}

body > p > b > a:hover {
    color: var(--red-color);
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 900px;
    gap: 30px;
    border: 3px solid var(--brown-color);
    border-radius: 25px;
    padding: 30px;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--light-blue-color);
}

button {
    border: 3px solid var(--black-color);
    width: 100px;
    height: 45px;
    border-radius: 35px;
    transition: 0.5s;
    background-color: var(--blue-color);
    color: var(--light-black-color);
    font-weight: 600;
    box-shadow: 3px 3px 0px 0px var(--light-blue-color);
}

button:hover {
    border-radius: 0px;
    border: none;
    width: calc(50% + 110px);
    background-color: var(--green-color);
    color: var(--dark-black-color);
    cursor: pointer;
    box-shadow: none;
    border-radius: 50px;
}

label,
legend,
button,
.photo-text {
    text-transform: uppercase;
}

label {
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
}

.content {
    display: flex;
    height: 100vh;
    font-family: 'Unbounded', cursive;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
}

.photo-container {
    flex: 1 1 0;
    height: 100vh;
    max-width: 50vw;
}

.photo-container > img {
   filter: blur(1px);
}

.photo-container > p {
    position: absolute;
    bottom: 40px;
    left: 200px;
}

.photo-text-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 101vh;
    background-color: var(--green-color);
    width: 100%;
    height: 15vh;
    transition: 1s;
    cursor: pointer;
}

.photo-text-overlay:hover {
    height: 50vh;
    background-color: var(--blue-color);
    --photo-text-size: 62px;
}

.photo-text {
    font-size: var(--photo-text-size);
    font-family: "Unbounded", cursive;
    line-height: 50px;
    color: var(--light-black-color);
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.5s;
}

.form-container {
    flex: 1.8 1 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    
}

.form-wrapper {
    height: auto;
    padding: 50px;
    width: auto;
    min-width: 800px;
    border-radius: 50px;
    box-shadow: 10px 10px var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--bg-color);
    margin-bottom: 70px;
}

.account-details-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.personal-information-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.tos-checkbox {
    margin-bottom: -25px;
}

.tos-checkbox > label > a:hover {
    color: var(--red-color);
}

label[for*="phone"] {
    margin-left: 310px;
}

legend {
    text-align: center;
    color: var(--brown-color);
}

input,
select {
    max-height: 30px;
    border: 2px solid var(--green-color);
    background-color: var(--light-black-color);
    outline: none;
}

.invalid {
    border: 2px solid var(--red-color);
    background-color: var(--light-red-color);
}

.valid {
    border: 2px solid var(--green-color);
    background-color: var(--light-yellow-color);
}