:root {
  --white-color: #fff;
  --light-white-color: rgba(173, 169, 169, 0.2);
  --black-color: rgb(17, 5, 5);
  --dark-black-color: #333;
  --light-green-color: rgba(206, 255, 206, 0.548);
  --green-color: #c0f55ec4;
  --violet-color: rgba(24, 13, 46, 0.548);
  --dark-green-color: rgb(55, 150, 0);
  --red-color: rgb(255, 0, 0);
  --light-red-color: rgba(255, 163, 163, 0.493);
  --dark-purple: #333555;
  --purple-color: rgba(105, 105, 255, 0.63);
  --light-purple-color: rgba(193, 193, 255, 0.788);
  --grey-color: #4c5340c4;
  --dark-grey-color: rgba(36, 30, 30, 0.938);
  --blue-color: rgba(17, 171, 243, 0.74);
}

body {
  display: grid;
  grid-template-areas:
    "image main"
    "image main"
    "image middle"
    "image middle"
    "image middle";
  align-items: stretch;
  width: 90vw;
  height: 94vh;
  font-family: "Unbounded", cursive;
}

abbr[title="required"] {
  text-decoration: none;
  color: var(--red-color);
  font-size: 15px;
}

a {
  text-decoration: none;
  color: var(--purple-color);
}

a:hover {
  color: var(--red-color);
}

/*.bottom a,
.bottom a:visited,
.bottom a:hover {
    text-decoration: none;
    color: var(--red-color);
    font-weight: 900;
}*/

label {
  text-transform: uppercase;
}

/***********sidebar of site*********/
.sidebar {
  width: 30%;
  height: 99%;
  position: relative;
}

.side-image {
  width: 100%;
  height: inherit;
  image-rendering: optimizeQuality;
  grid-area: image;
  background-color: var(--purple-color);
  padding: 40px 40px;
  box-shadow: 1px 3px 5px 3px var(--purple-color);
}

.side-image img {
  object-fit: cover;
  filter: blur(1px) brightness(95%) contrast(140%) grayscale(20%);
}

.side-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4vw;
  opacity: 0.9;
  position: absolute;
  top: 10vw;
  image-rendering: crisp-edges;
}

.side-logo img {
  height: 90%;
  width: auto;
  position: relative;
  top: 180px;
  right: 108px;
  transform: rotate(-90deg);
}

.side-logo span {
  font-family: "Unbounded", cursive;
  font-size: 66px;
  color: var(--white-color);
  transform: rotate(-90deg);
  background-color: var(--dark-purple);
  opacity: 0.5;
  position: absolute;
  top: -10px;
  left: -70px;
}

.side-copy-telegram {
  color: var(--white-color);
  position: relative;
  bottom: 92px;
  left: 410px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-bottom: 30px;
  display: inline;
}

.side-copy-github {
  color: var(--white-color);
  position: absolute;
  bottom: 64px;
  left: 100px;
  width: 100%;
  font-size: 12px;
  margin-bottom: 30px;
}

/**************right side of site*********/
.main {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin-left: 125px;
  width: 100%;
  height: 104%;
  background-color: var(--light-white-color);
  box-shadow: 1px 3px 40px 3px var(--purple-color);
  grid-area: main;
}

.top {
  font-weight: 500;
  font-size: 22px;
  margin: 3vh;
  padding-bottom: 20px;
  text-align: center;
}

.red {
  color: var(--red-color);
  font-weight: 600;
}

.tag {
  color: var(--dark-purple);
  font-weight: 600;
}

.tag-bold {
  color: var(--purple-color);
  font-weight: 600;
}

.tag-not-bold {
  color: var(--purple-color);
}

/****** middle-form *******/
.middle {
  padding-bottom: 80px;
  padding-left: 120px;
  padding-top: 20px;
  box-shadow: 1px 3px 5px 3px var(--light-white-color);
  margin: 0;
  background-color: var(--white-color);
  grid-area: middle;
}

.legend {
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  max-width: calc(2 * 300px + 50px);
}

.inputs > div {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 3px 0;
}

.inputs label {
  font-size: 12px;
  font-weight: 400;
}

.inputs input {
  height: 32px;
  padding: 1px 1px 1px 16px;
  font-size: 14px;
  border: 1px solid var(--violet-color);
  border-radius: 3px;
  background-color: var(--purple-color);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--violet-color);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--violet-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--violet-color);
}

.inputs input:focus {
  outline: none;
  border: 1px solid var(--violet-color);
  box-shadow: 2px 2px 1px var(--light-white-color);
  background-color: var(--light-purple-color);
}

.inputs input:invalid:focus:not(:placeholder-shown) ~ .error {
  max-height: 50px;
}

.inputs .error {
  max-height: 0;
  transition: 0.28s;
  overflow: hidden;
  color: var(--red-color);
  font-style: italic;
  font-size: 11px;
}

/*********** submit button *******/
.bottom {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  font-size: 14px;
  margin: 30px 0px 0px 30px;
}

.bottom button {
  border: none;
  background-color: var(--dark-purple);
  color: var(--white-color);
  border: 2px solid var(--dark-purple);
  font-weight: 800;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  margin: -10px 0px 20px 320px;
  cursor: pointer;
}

.bottom button:hover {
  background-color: var(--red-color);
  box-shadow: 3px 3px 2px var(--violet-color);
}

.bottom span {
  margin-left: 266px;
}
