:root {
    --white-color: #fff;
    --light-white-color: rgba(173, 169, 169, 0.2);
    --black-color: rgb(17, 5, 5);
    --dark-black-color: #333;
    --light-green-color: rgba(176, 253, 176, 0.685);
    --green-color: #c0f55ec4;
    --violet-color: rgb(92, 25, 87);
    --dark-green-color: rgb(55, 150, 0);
    --red-color: rgb(255, 0, 0);
    --light-red-color: rgba(255, 163, 163, 0.493);
    --dark-purple: #333555;
    --purple-color: rgba(105, 105, 255, 0.63);
    --light-purple-color: rgba(193, 193, 255, 0.788);
    --grey-color: #4c5340c4;
    --dark-grey-color: rgba(36, 30, 30, 0.938);
    --blue-color: rgba(17, 171, 243, 0.74);
    --dark-blue-color: rgba(116, 162, 184, 0.74);
}

body {
    grid-template-columns: 1fr 5fr;
    display: grid;
    font-family: "Unbounded", cursive;
    height: 100vh;
}

nav {
    background-color: var(--violet-color);
    grid-row: 1/3;
    color: var(--light-green-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    /*box-shadow: var(--dark-blue-color);*/
    /*z-index: 10;*/
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background: linear-gradient(-45deg, var(--blue-color), var(--dark-blue-color));
    padding: 2rem;
    gap: 2rem;
}

p,
li {
    font-family: 'Karla', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    color: var(--green-color);
}

a,
.card,
.announcement-content,
.announcement-card,
.trending-users {
    transition: all 0.5s ease-in-out;
}

a:hover,
.announcement-content:hover,
.trending-users:hover {
    transform: scale(1.1);
}

.card:hover {
    transform: scale(1.03);
}
.nav-current {
    color: rgb(19, 17, 17);
}

header {
    background-color: var(--light-green-color);
    max-height: 130px;
    box-shadow: 1px 3px 5px 3px var(--violet-color);
    /*z-index: 10;*/
}

img {
    width: 50px;
    height: 50px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
    margin-bottom: 0.6rem; 
}

h3 {
    font-weight: bolder;
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}

h4 {
    color: #737373;
    font-size: 1.1rem;
}

p {
    color: var(--grey-color);
}

button {
    border-radius: 18px;
    background-color: var(--purple);
    height: 36px;
    width: 100px;
    border-width: 1px;
    color: var(--dark-blue-color);
    cursor: pointer;
    font-family: inherit;
    box-shadow: var(--boxshadow);
}

button:hover {
    background-color: #ef4444;
    box-shadow: 0px 15px 20px rgba(239, 68, 68, 0.4);
    transform: translateY(-6px);
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.4rem;
    position: relative;
    left: -0.2rem;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1.2em;
    font-size: 1rem;
}

.nav-links a:hover {
    color: var(--light-green-color);
    box-shadow: 1px 3px 5px 3px var(--green-color);
}

.nav-links a + a,
.nav-links a {
    color: var(--light-green-color);
    box-shadow: 1px 3px 1px 3px var(--dark-blue-color);
}

.nav-section {
    display: grid;
    gap: 1rem;
    margin-top: -0.2rem;
}

.nav-section-a {
    margin-top: 4.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #e2e8f0;
}

.nav-links a img {
    width: 30px;
    height: 30px;
}

.header-top {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    padding: 0.2rem 5rem;
}

.search-content {
    display: flex;
    gap: 1rem;
}

.search-icon a img {
    width: 30px;
    height: 30px;
}

.search-bar input[type="text"] {
    border-style: none;
    border-radius: 8px;
    width: 40vw;
    background-color: var(--grey);
    padding: 5px;
    box-shadow: var(--boxshadow);
    border: 1px solid var(--black-color);
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1rem 4rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.projects {
    margin-top: -20px;
}

.projects h2 {
    text-align: center;
}

.profile-pic img {
    height: 38px;
    width: 38px;
}

.big-profile-pic img {
    height: 60px;
    
}

.greeting {
    display: grid;
    gap: 0.6rem;
}

.greet {
    font-size: 0.8rem;
}

.display-user {
    font-weight: bolder;
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    gap: 1.3rem;
}

.card-section {
    grid-template-columns: repeat(auto-fill, minmax(310px, 30%));
    grid-template-rows: repeat(auto-fill, minmax(310px, 30%));
    display: grid;
    gap: 1rem;
    grid-auto-rows: 1fr;
}

.card-section-long {
    grid-template-columns: repeat(1fr, minmax(310px, 30%));
    display: grid;
    gap: 1rem;
}

.card {
    background-color: #ffffff;
    color: black;
    padding: 0 2rem;
    border-left: solid 0.6rem;
    border-left-color: #ef4444;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: var(--boxshadow);
}

.card-text {
    flex: 1;
}

.card-icons {
    align-self: end;
    display: flex;
    gap: 1rem;
}

.card-icons a img {
    width: 30px;
    height: 30px;
}

.announcements-trending {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.announcement-card {
    display: grid;
    background-color: white;
    padding: 2rem;
    box-shadow: var(--boxshadow);
}

.announcement-card.top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.announcement-card.bottom {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.announcement-card h3 {
    font-size: 1.1rem;
}

.announcement-card p {
    font-size: 0.8rem;
}

.border {
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 1rem;
    border-color: #e2e8f0;
    position: relative;
    bottom: -15px;
}

.trending-users {
    padding: 2rem;
    background-color: white;
    display: grid;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: var(--boxshadow);
}

.trending-user-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trending img {
    height: 36px;
    width: 36px;
}
